.question-two {
    position: relative;
    .wrapper {
        position: relative;
        z-index: 20;
    }
}



.wolf {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 10;

}