// variables 

$cursive: "Oswald";
$font: "Lato";

$lan-gold: #F5A207;
$lan-red: #990F0F;
$bar-yellow:#FECF03;
$bar-black: #221E1F;
$targ-black:#040404;
$targ-red:#C51C1C;
$stark-green:#D5CEB2;
$stark-darkgrey:#7C7C7C;
$grey-black: #191919;
$grey-yellow: #EEBD17;
$white: #ECECEC;