

.your-results {
    h1 {
        margin: 0;
        font-family: $cursive;
    }
    img {
        width: 30%;
    }
    p {
        font-family: $font;
        font-size: 1.4rem;
        text-align: center;
    }
}

.results-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}




